@use "./../../mixins" as *;

.burger-btn__wrapper {
    background: var(--color-dark);
    width: 50px;
    aspect-ratio: 1 / 1;
    @include grid-center;
    border-radius: inherit;
}

.burger-btn {
    position: relative;
    height: 0;
    width: 30px;
    padding: 15px 0;
    cursor: pointer;
}

.burger-btn::before {
    content: "";
    position: absolute;
    height: 2px;
    border-radius: 1px;
    width: 100%;
    background: #000;
    transform: translateY(-10px);
    transition: transform 0.3s;
}

.burger-btn--active::before {
    transform: translateY(0px) rotate(45deg);
}

.burger-btn::after {
    content: "";
    position: absolute;
    height: 2px;
    border-radius: 1px;
    width: 100%;
    background: #000;
    transform: translateY(10px);
    transition: transform 0.3s;
}

.burger-btn--active::after {
    transform: translateY(0px) rotate(-45deg);
}

.burger-btn__line {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 1px;
    opacity: 1;
    transition: all 0.3s;
}

.burger-btn__line--active {
    transform: translateX(-30px);
    opacity: 0 !important;
}
