@use "./../../mixins" as *;

.header {
    position: fixed;
    top: 25px;
    right: 25px;
    left: 25px;
    z-index: 108;
    background: rgba(255, 255, 255, 0.75);
    @include glass-effect;
    min-height: 70px;
    padding: 0 25px;
    @include flex-between-center;
    border-radius: 25px;
}

.header__logo {
    font-size: 1.5rem;
}

@media (max-width: 900px) {
    .header {
        top: 15px;
        right: 15px;
        left: 15px;
        padding: 0 15px;
    }
}

@media (max-width: 600px) {
    .header {
        top: 10px;
        right: 10px;
        left: 10px;
        padding: 0 10px;
    }
}
