@use "./../../mixins" as *;

.products-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.products-main-info {
    font-size: clamp(26px, 3vw, 36px);
    font-weight: 700;
}

.filter-title {
    font-size: 16px;
    font-weight: 700;
}

.search-wrapper {
    height: 50px;
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-right: 5px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset -1px -1px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.search-input {
    flex-grow: 1;
    font-size: 1rem;
    padding: 0 10px;
}

.search-input::placeholder {
    opacity: 0.5;
}

.search-wrapper:focus-within {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1),
        inset -1px -1px 5px rgba(0, 0, 0, 0.1);
}

.search-icon {
    @include grid-center;
    width: 40px;
    aspect-ratio: 1 / 1;
    background: var(--color-dark);
    border-radius: inherit;
}

@media (max-width: 900px) {
    .products-container {
        row-gap: 15px;
    }

    .products-info {
        padding: 0 10px;
    }
    .products-main-info {
        padding-left: 10px;
    }

    .filter-title {
        margin-left: 10px;
    }
}

@media (max-width: 600px) {
    .products-container {
        row-gap: 10px;
    }
}
