@use "./reset" as *;
@use "./fonts" as *;
@use "./variables" as *;

html {
    scroll-behavior: smooth;
}

// ::-webkit-scrollbar {
//     display: none;
// }

body {
    font-family: var(--main-font-family);
    /* background: var(--color-light); */
    background: rgb(240, 240, 240);
    min-height: 100vh;
    color: #000;
    // overflow: hidden;
    padding: 120px 25px 25px;
}

.body--active {
    height: 100% !important;
    overflow: hidden !important;
}

.wrapper {
    display: none;
}

@media (max-width: 900px) {
    body {
        padding: 100px 10px 10px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 90px 10px 10px;
    }
}
