.about-us {
    min-height: 100vh;
    text-align: center;
}

.about-main-info {
    padding: 120px 25px 25px;
    text-align: right;
    font-size: clamp(2rem, 6vw, 3rem);
}

.about-info {
    font-family: var(--secondary-font-family);
    font-weight: 300;
    text-align: justify;
    font-size: 16px;
    padding: 50px 0;
}

.ukraine-map {
    width: clamp(300px, 50vw, 600px);
}

.contacts-grid-container {
    display: flex;
    flex-direction: row;
    margin: 100px 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    row-gap: 0;
}

.contacts-grid-container span {
    font-size: 50px;
    font-weight: 900;
}

@media screen and (max-width: 900px) {
    .contacts-grid-container {
        flex-direction: column;
        row-gap: 50px;
    }

    .about-main-info {
        padding: 90px 10px 10px;
    }
}
